<div class="field_text_field">
	<input name="form_submission[form_submission_fields_attributes][<%= i %>][value]" value="<%= submitted_field.value || text_field.default_value %>" type="text" />
</div>
