<div id="galleries" class="galleries" >
	<% for gallery in galleries do %>
		<%= render :partial => "display/galleries/single_gallery", :locals => { :gallery => gallery } %>
	<% end %>
	<br style="clear: both; line-height: 0px; height: 0px; font-size: 0px;" />
</div>
