<div class="blog">
	<div class="blog_title"><%= blog.name %></div>
	<div class="blog_posts">
		<%= render :partial => '/display/blogs/post', :collection => @posts %>
		<%= paginate @posts %>
	</div>
</div>
