<button class="modalInput btn" href="#" onClick="addContentTag(); return false;">Add Content Tag</button>

<script>
	function addContentTag() {
		var content_tag = "#CONTENT#";
		insertContentTag();
	}
</script>
